<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음치 판별기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
 <!-- 배경을 적용할 클래스를 body 대신 div로 설정 -->
 <div class="background">
    <div class="container">
        <!-- 큰 제목 -->
        <h1 class="good">당신은 실력자!</h1>
        
        <!-- 소제목 -->
        <h2 class="good-child">가수 해도 되겠어요!!<br>10점 만점에 100점 :)</h2>
    </div>
</div>
</body>
</html>
